<!-- Name : Abdul Ahad Saleem Shah   Email : ashah6644@conestogac.on.ca -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles/style.css">
        <title>Cream Corner</title>
    </head>
    <body>
        <header>
            <img src="/images/ice_cream.jpeg" alt="" srcset="" height="150px" width="200px" style = "border-radius: 20px; margin: 10px;">
            <!-- Jonathan Cooper (November 10th, 2021) : https://images.pexels.com/photos/10175400/pexels-photo-10175400.jpeg -->
            <h1 class="headerTitle">Cream Corner</h1>
        </header>
        <nav>
            <ul>
                <li class="navPage"><a href="/dashboard">View Orders</a></li>
                <li class="navPage"><a href="/form">Create Orders</a></li>
                <li class="navPage"><a href="/">Logout</a></li>
            </ul>
        </nav>
    <main>
        <h1>Thank you</h1>
        <br>
        <br>
        <h3>Your Order has been successfully Deleted</h3>
    </main>
    
    
    <footer>
        <h1>&copy;Copyright Abdul Ahad Saleem Shah</h1>
    </footer>
</body>
</html>